footer
	.footer-home
		.container
			.row
				.col-xl-6
					ul.copyright
						li
							a(href="") Copyright © 2020 Sông Tiên.
						li
							a(href="") Thiết kế website bởi Cánh Cam.
				.col-xl-6
					.social-icon
						ul
							li
								a(href="")
									i.fa.fa-facebook
							li
								a(href="")
									i.fa.fa-instagram
							li
								a(href="")
									i.fa.fa-twitter
							li
								a(href="")
									i.fa.fa-youtube