header
	.container
		nav
			.nav-mobile
			.st-logo
				a(href="")
					img(src="./assets/logo.png", alt="")
			.main-nav
				ul.nav
					li.nav-item.active
						a.nav-link(href="index.html")
							em.material-icons home
					li.nav-item
						a.nav-link(href="") Giới thiệu
					li.nav-item
						a.nav-link(href="") Lĩnh vực kinh doanh
					li.nav-item
						a.nav-link(href="") Dự án
					li.nav-item
						a.nav-link(href="") tin tức
					li.nav-item
						a.nav-link(href="") nghề nghiệp
					li.nav-item
						a.nav-link(href="lien-he.html") Liên hệ
				.icon
					#desktop
						ul.language
							li.nav-item
								a.nav-link(href="") VN
							li.nav-item.active
								a.nav-link(href="") EN
						a.search.btn.btn__search(data-fancybox data-animation-duration="700" data-src="#searchfancybox" href="javascript:;")
							img(src="./assets/icons/search.png", alt="")
			.toggle-menu
