#block__tool.dekstop
	.tool-ganeral
		em.ri-home-gear-fill
	ul
		li
			a(href="")
				img(src="./assets/icons/messenger-face.png", alt="")
		li
			a(href="")
				img(src="./assets/icons/chat.png", alt="")
		li
			a(href="")
				img(src="./assets/icons/mail.png", alt="")
		li
			a(href="")
				img(src="./assets/icons/phone.png", alt="")
