.h-2
	background-color: #fff
	padding: 0
	box-sizing: border-box
	.nav-left
		width: 558px;
	.nav-container 
		height: 100vh
		width: 100vw
		overflow: hidden
		.nav-lists 
			list-style-type: none
			display: flex
			height: 100%
			position: relative

			.nav-list 
				width: 100%
				height: 100%
				position: absolute
				img
					height: 100%
					width: 100%
					object-fit: cover
