section.section.h-1
	.main-banner
		.swiper-container.home-banner
			.swiper-wrapper
				.swiper-slide
					a.swiper-inner(href="#" setBackground="./assets/images/index/b-1.png")
						img(src="./assets/images/index/b-1.png", alt="")
					.content
						h1 BĐS SÔNG TIÊN
						p Mang lại giá trị sống hoàn hảo cho khách hàng
					.socail-icon
						ul
							li
								a(href="")
									i.fa.fa-facebook
							li
								a(href="")
									i.fa.fa-instagram
							li
								a(href="")
									i.fa.fa-twitter
							li
								a(href="")
									i.fa.fa-youtube
				.swiper-slide
					a.swiper-inner(href="#" setBackground="./assets/images/index/b-3.png")
						img(src="./assets/images/index/b-3.png", alt="")
					.content
						h1  BĐS SÔNG TIÊN
						p Chung tay vì cộng đồng bền vững và nhân ái
					.socail-icon
						ul
							li
								a(href="")
									i.fa.fa-facebook-f
							li
								a(href="")
									i.fa.fa-instagram
							li
								a(href="")
									i.fa.fa-twitter
							li
								a(href="")
									i.fa.fa-youtube
				.swiper-slide
					a.swiper-inner(href="#" setBackground="./assets/images/index/b-2.png")
						img(src="./assets/images/index/b-2.png", alt="")
					.icon
						a(href="https://www.youtube.com/watch?v=og_1u8RFmuI", data-fancybox)
							img(src="./assets/icons/play.png", alt="")
							p.text XEM VIDEO
					.socail-icon
						ul
							li
								a(href="")
									i.fa.fa-facebook-f
							li
								a(href="")
									i.fa.fa-instagram
							li
								a(href="")
									i.fa.fa-twitter
							li
								a(href="")
									i.fa.fa-youtube
			.down-page-icon
				a.crolldown(href="#h-2")
					img(src="./assets/icons/download.png", alt="")
			.swiper-button-prev
			.swiper-button-next