section.section.h-2
	.container-fluid
		.row
			.col-xl-3.col-lg-4.col-md-5
				.nav-left
					.block-title
						h2 lĩnh vực linh doanh
					ul
						li
							a(href="")
								h3 bất động sản
						li
							a(href="")
								h3 thương mại - giải trí
						li
							a(href="")
								h3 xây dựng
					a.btn.btn-new(href="") xem thêm
						em.lnr.lnr-arrow-right
			.col-xl-9.col-lg-8.col-md-7
				nav.nav-container
					ul.nav-lists
						li.nav-list
							a(href="")
								img(src='./assets/images/filed-1.png')
							.list-content
								.desc
									h4 bất động sản
									a(href="") xem thêm
										em.lnr.lnr-arrow-right

						li.nav-list
							a(href="")
								img(src='https://source.unsplash.com/Pn7JBX42z3Q')
							.list-content
								.desc
									h4 thương mại - giải trí
									a(href="") xem thêm
										em.lnr.lnr-arrow-right
						li.nav-list
							a(href="")
								img(src='https://source.unsplash.com/sS_nzNBBqqs')
							.list-content
								.desc
									h4 xây dựng
									a(href="") xem thêm
										em.lnr.lnr-arrow-right