section.section.h-2
	.container-fluid
		.row
			.col-xl-3
				.nav-left
					.block-title
						h2 lĩnh vực linh doanh
					ul
						li
							a(href="")
								h3 bất động sản
						li
							a(href="")
								h3 thương mại - giải trí
						li
							a(href="")
								h3 xây dựng
					a.btn.btn-new(href="") xem thêm
						em.lnr.lnr-arrow-right
			.col-xl-9
				nav.nav-container
					ul.nav-lists
						li.nav-list
							img(src='https://source.unsplash.com/V2OyJtFqEtY')
						li.nav-list
							img(src='https://source.unsplash.com/Pn7JBX42z3Q')
						li.nav-list
							img(src='https://source.unsplash.com/sS_nzNBBqqs')