section.section.h-3
	.container
		.block-title.text-center
			h2 tin tức
		.row
			.col-xl-3.col-md-4.col-6
				a(href="")
					.h-3__item
						figure
							.img
								img(src="./assets/images/index/news-1.png", alt="")
							figcaption
								.title
									h3 Sông Tiên đồng hành "Hành trình yêu thương" tại Cần Giờ
								.desc
									p Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020
			.col-xl-3.col-md-4.col-6
				a(href="")
					.h-3__item
						figure
							.img
								img(src="./assets/images/index/news-2.png", alt="")
							figcaption
								.title
									h3 Sông Tiên đồng hành "Hành trình yêu thương" tại Cần Giờ
								.desc
									p Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020
			.col-xl-3.col-md-4.col-6
				a(href="")
					.h-3__item
						figure
							.img
								img(src="./assets/images/index/news-3.png", alt="")
							figcaption
								.title
									h3 Sông Tiên đồng hành "Hành trình yêu thương" tại Cần Giờ
								.desc
									p Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020
			.col-xl-3.col-md-4.col-6
				a(href="")
					.h-3__item
						figure
							.img
								img(src="./assets/images/index/news-4.png", alt="")
							figcaption
								.title
									h3 Sông Tiên đồng hành "Hành trình yêu thương" tại Cần Giờ
								.desc
									p Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020 Đất nền khu vực nào sẽ "hút" tiền 2020
			.block-item
				a.btn.btn-new(href="") xem thêm
					em.lnr.lnr-arrow-right