section.section.h-4.csroll-sec
	.container
		.block-title.text-center
			h2 đối tác
		.h-4__list
			.row
				.col-xl-4.col-md-6.col-6.item
					.img
						img(src="./assets/images/index/partner-2.png", alt="")
				.col-xl-4.col-md-6.col-6.item
					.img
						img(src="./assets/images/index/partner-3.png", alt="")
				.col-xl-4.col-md-6.col-6.item
					.img
						img(src="./assets/images/index/partner-4.png", alt="")
				.col-xl-6.col-md-6.col-6.item
					.img
						img(src="./assets/images/index/partner-5.png", alt="")
				.col-xl-6.col-md-12.col-12.item
					.img
						img(src="./assets/images/index/partner-6.png", alt="")