section.section.h-5
	.container-fluid
		.row
			.col-xl-6.col-md-6.left
				.left-content
					.left-content__infor
						h1 công ty cổ phần
							br
							|phát triển địa ốc sông tiên
						ul.lists
							li
								h2 đại chỉ
								p Tầng 9, Toà nhà HUBA, 22 Võ Văn Kiệt, P. Nguyễn Thái Bình, Q. 1, Tp. HCM
							li
								h2 telephone
								p (84-028) 3888 1234
							li
								h2 fax
								p (84-028) 3888 1234
							li
								h2 email
								p contact@songtien.com
							.img
								a(data-fancybox data-type="iframe" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5726789327637!2d106.6991771153341!3d10.767379462303658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fafe3e469d7%3A0x3013a1910c59ab89!2zSHViYSBUb3dlciAyMiBWw7UgVsSDbiBLaeG7h3Q!5e0!3m2!1sen!2s!4v1597888472079!5m2!1sen!2s" href="javascript:;")
									img(src="./assets/icons/location.png" alt="")
			.col-xl-6.col-md-6.right
				.contact-form
					.title 
						h2 liên hệ
					.form-group
						input(type="text" placeholder="Họ tên*")
					.form-group
						input(type="text" placeholder="Số điện thoại*")
					.form-group
						input(type="text" placeholder="Email*")
					.form-group
						input(type="text" placeholder="Quốc gia*")
					.form-group
						textarea(name="" cols="30" rows="10" placeholder="Nội dung")
					.form-group.frm-btnwrap
						.frm-btn
							a.btn.btn-new(href="")
								|gửi
								em.lnr.lnr-arrow-right
	.footer-home
		.container
			.row
				.col-xl-6.col-md-6.col-12
					ul.copyright
						li
							a(href="") Copyright © 2020 Sông Tiên. Thiết kế website bởi Cánh Cam.
				.col-xl-6.col-md-6.col-12
					.social-icon
						ul
							li
								a(href="")
									i.fa.fa-facebook
							li
								a(href="")
									i.fa.fa-instagram
							li
								a(href="")
									i.fa.fa-twitter
							li
								a(href="")
									i.fa.fa-youtube